/**
 * Sphinx stylesheet -- sphinxdoc theme
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 * Originally created by Armin Ronacher for Werkzeug, adapted by Georg Brandl.
 */

@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */
#header{width:960px; margin:0px auto; height:108px;}
#logo{width:290px; float:left; vertical-align:middle; display:block; padding-top:35px; height:73px;}
#menu{width:600px; float:right; vertical-align:middle; display:block; height:108px;}
body.whatwedo { background:url(whatwedo_bg.gif) repeat-x; font:14px Arial, Helvetica, sans-serif; } 
.whatwedo{background:url(../images/topmenu.png) -189px -108px no-repeat;}
#banner{width:960px; margin:0px auto; height:58px; }
#banner #title{width:600px;  height:58px; float:left; display:block; vertical-align:middle; display:table-cell; color:#fff; }

#banner #whatwedographic{width:200px;  height:58px; float:left;  }

body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva',
                 'Verdana', sans-serif;
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 150%;
    text-align: center;
    background-color: #fff;
    color: black;
    padding: 0;

    margin: 0px 80px 0px 80px;
    min-width: 740px;
	width:100%;
	margin:0px auto;
}
.wrap{width:960px; margin:0px auto;clear:both;}
div.document {
    background-color: white;
    text-align: left;
    background-repeat: repeat-x;
}

div.bodywrapper {
    margin: 0 240px 0 0;
    
}

div.body {
    margin: 0;
    padding: 0.5em 20px 20px 20px;
}

div.related {
    font-size: 1em;
}

div.related ul {

    height: 2em;

    border-bottom: 1px solid #ddd;
}

div.related ul li {
    margin: 0;
    padding: 0;
    height: 2em;
    float: left;
}

div.related ul li.right {
    float: right;
    margin-right: 5px;
}

div.related ul li a {
    margin: 0;
    padding: 0 5px 0 5px;
    line-height: 1.75em;
    color: #7E4220;
}

div.related ul li a:hover {
    color: #3CA8E7;
}

div.sphinxsidebarwrapper {
    padding: 0;
}

div.sphinxsidebar {
    margin: 0;
    width: 240px;
    float: right;
    font-size: 1em;
    text-align: left;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
   /* margin: 1em 0 0.5em 0;
    font-size: 1em;
    padding: 0.1em 0 0.1em 0.5em;
    color: white;
    border: 1px solid #86989B;
    background-color: #AFC1C4;*/
	background-color:#F1F1F1; border-top:8px solid #7E4220; border-bottom:1px solid #dadada; padding:10px 20px 10px 20px; margin:0 0 10px 0px;
	font-size: 1em;
	color:#505050;
}

div.sphinxsidebar h3 a {
    color: #505050;
}

div.sphinxsidebar ul {
    padding-left: 1.5em;
    margin-top: 7px;
    padding: 0;
    line-height: 130%;
	padding-left:10px;
}
.topless{padding-left:10px;}

div.sphinxsidebar ul ul {
    margin-left: 20px;
}

/*div.footer {
    background-color: #E3EFF1;
    color: #86989B;
    padding: 3px 8px 3px 0;
    clear: both;
    font-size: 0.8em;
    text-align: right;
}

div.footer a {
    color: #86989B;
    text-decoration: underline;
}*/
div.footer{ clear:both;width:100%;  text-align:center; background-color:#EDEDED; margin:20px 0px 0px 0px; padding:20px 0px 20px 0px; font:12px Helvetica, Arial, sans-serif; color:#767676; text-decoration:none; line-height:35px; text-transform:uppercase; }
div.footer a{ font:bold 14px Helvetica, Arial, sans-serif; color:#767676; text-decoration:none; line-height:35px; text-transform:uppercase; padding:0px 10px 0px 10px; }
div.footer a:hover{ font:bold 14px Helvetica, Arial, sans-serif; color:#3A3A3A; text-decoration:none; line-height:35px; text-transform:uppercase; }

/* -- body styles ----------------------------------------------------------- */

p {    
    margin: 0.8em 0 0.5em 0;
}

a {
      color: #7E4220;
    text-decoration: none;
}

a:hover {
    color: #000;
}

div.body li a {
    text-decoration: none;
}
div.body li a:hover {
    text-decoration: underline;
}
h1 {
    margin: 0;
    padding: 0.7em 0 0.3em 0;
    font-size: 1.5em;
   color:#7E4220;
}

h2 {
    margin: 1.3em 0 0.2em 0;
    font-size: 1em;
    padding: 0;
	color:#7E4220;
	text-transform:uppercase;
}

h3 {
    margin: 1em 0 -0.3em 0;
    font-size: 1.2em;
}

div.body h1 a, div.body h2 a, div.body h3 a, div.body h4 a, div.body h5 a, div.body h6 a {
    color: black!important;
}

h1 a.anchor, h2 a.anchor, h3 a.anchor, h4 a.anchor, h5 a.anchor, h6 a.anchor {
    display: none;
    margin: 0 0 0 0.3em;
    padding: 0 0.2em 0 0.2em;
    color: #aaa!important;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor,
h5:hover a.anchor, h6:hover a.anchor {
    display: inline;
}

h1 a.anchor:hover, h2 a.anchor:hover, h3 a.anchor:hover, h4 a.anchor:hover,
h5 a.anchor:hover, h6 a.anchor:hover {
    color: #777;
    background-color: #eee;
}

a.headerlink {
    color: #c60f0f!important;
    font-size: 1em;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    text-decoration: none!important;
}

a.headerlink:hover {
    background-color: #ccc;
    color: white!important;
}

cite, code, tt {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

tt {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    color: #333;
}

tt.descname, tt.descclassname, tt.xref {
    border: 0;
}

hr {
    border: 1px solid #abc;
    margin: 2em;
}

a tt {
    border: 0;
    color: #CA7900;
}

a tt:hover {
    color: #2491CF;
}

pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}

pre a {
    color: inherit;
    text-decoration: underline;
}

td.linenos pre {
    padding: 0.5em 0;
}

div.quotebar {
    background-color: #f8f8f8;
    max-width: 250px;
    float: right;
    padding: 2px 7px;
    border: 1px solid #ccc;
}

div.topic {
    background-color: #f8f8f8;
}

table {
    border-collapse: collapse;
    margin: 0 -0.5em 0 -0.5em;
}

table td, table th {
    padding: 0.2em 0.5em 0.2em 0.5em;
}

div.admonition, div.warning {
    font-size: 0.9em;
    margin: 1em 0 1em 0;
    border: 1px solid #86989B;
    background-color: #f7f7f7;
    padding: 0;
}

div.admonition p, div.warning p {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}

div.admonition pre, div.warning pre {
    margin: 0.4em 1em 0.4em 1em;
}

div.admonition p.admonition-title,
div.warning p.admonition-title {
    margin: 0;
    padding: 0.1em 0 0.1em 0.5em;
    color: white;
    border-bottom: 1px solid #86989B;
    font-weight: bold;
    background-color: #AFC1C4;
}

div.warning {
    border: 1px solid #940000;
}

div.warning p.admonition-title {
    background-color: #CF0000;
    border-bottom-color: #940000;
}

div.admonition ul, div.admonition ol,
div.warning ul, div.warning ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}

div.versioninfo {
    margin: 1em 0 0 0;
    border: 1px solid #ccc;
    background-color: #DDEAF0;
    padding: 8px;
    line-height: 1.3em;
    font-size: 0.9em;
}
.white{color:#FECF57; font-size:24px; padding-top:10px;text-transform:uppercase; text-align:left; padding-left:15px;}
